.my-button.at-button {
  color: red;
}

.demo-button {
  .at-form {
    padding-left: 0;
  }
}

.btn-demo-fab {
   /*  #ifndef  rn  */
  position: fixed;
    /*  #endif  */
   /*  #ifdef  rn  */
  position: absolute;
    /*  #endif  */
  right: 32px;
  bottom: 32px;
  z-index: 1100;
}

.panel__content {
  &--btn-item {
    margin-bottom: 20px;

    /*  #ifndef  rn  */
    &:last-child {
      margin-bottom: 0;
    }

    /*  #endif  */

    &--subitem {
       /*  #ifndef  rn  */
      display: inline-block;
        /*  #endif  */
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
